In [ ]:
from pack.functions import my_func
my_func()

In [1]:
import pandas as pd

In [16]:
def drop(df_pipe, *args):

    print(list(args))

    return df_pipe.drop(columns = list(args))

def select(df_pipe, *args):

    return df_pipe.loc[:, list(args)]

In [3]:
df = pd.DataFrame(dict(a= [1, 2], b = [2,3], c = [6,7]))
df

   a  b  c
0  1  2  6
1  2  3  7

In [15]:
df.assign(d=df.a +df.b).pipe(drop, 'a', 'd')

['a', 'd']

   b  c
0  2  6
1  3  7

In [18]:
df.pipe(select, 'a', 'b')

   a  b
0  1  2
1  2  3